@model TEST_REV_1.Models.ModelB
@using TEST_REV_1.Models
@{
    ViewBag.Title = "V3";
}

<h2>V3</h2>

@if (Model != null)
{
    <p>@Model.ans</p>
    <p>@Model.ans2</p>
    <p>@Model.ans3</p>
    <p>@Model.ans4</p>
}
